.header {
    height: rem(56px);
    background-color: transparent;
    position: relative;
}
  
  .inner {
    height: rem(56px);
    display: block;
    justify-content: center;
    align-items: center;
  }

  .name{
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    /* flex-grow: 1; */
    text-align: left;
  }

  .dropdown {
    position: absolute;
    top:rem(60px);
    left: 0;
    right: 0;
    background-color: rgba(134, 142, 150, 0.90); 
    opacity: 0.90;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top-width: 0;
    overflow: hidden;
    border-radius: 0;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(155, 155, 155, 0.9);/* Warna latar belakang overlay */
    z-index: 1000; /* Pastikan overlay tampil di atas konten lain */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Tambahkan gaya lain yang diperlukan */
  }  
  
  .link {
    display: block;
    line-height: 1;
    padding: rem(8px) rem(12px);
    border-radius: var(--mantine-radius-sm);
    text-decoration: none;
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
    font-size: var(--mantine-font-size-sm);
    font-weight: 500;
  
    @mixin hover {
      background-color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-6));
    }
  
    [data-mantine-color-scheme] &[data-active] {
        background-color: transparent;
    }

    &[data-active] {
      border-bottom: 1.5px solid var(--mantine-color-black); /* Sesuaikan dengan warna yang Anda inginkan */
      color: rgb(238, 236, 234); /* Sesuaikan dengan warna yang Anda inginkan */
  }
  }